<div class="hc-container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid rounded" style="max-width: 100%; max-height: 100%;"
          src="../../assets/image/headImg1.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid rounded" style="max-width: 100%; max-height: 100%;"
          src="../../assets/image/headImg2.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid rounded" style="max-width: 100%; max-height: 100%;"
          src="../../assets/image/headImg3.png" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid rounded" style="max-width: 100%; max-height: 100%;"
          src="../../assets/image/headImg4.png" alt="Fourth slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 img-fluid rounded" style="max-width: 100%; max-height: 100%;"
          src="../../assets/image/headImg5.png" alt="Fifth slide">
      </div>
    </div>
  </div>
</div>

<div class="row border border-primary border-4 p-4 m-0">
  <div class="col-9">
    <span><strong>What is covid</strong></span>

  <p class="mt-1">
    On February 11, the World Health Organization named the disease caused by the new coronavirus: COVID-19. On March 11, the WHO declared that the global spread of this previously unknown disease is a pandemic. By December 1, COVID-19 had killed more than one million people. There were more than 63.3 million cases of the coronavirus around the world—with more cases in the United States (13.6 million) than in any other country.
  </p>

  </div>
  <div class="cov-3">
    <img style="width: 250px;" src="./../../assets/image/CovidVirus.jpg" alt="">
  </div>
 
</div>