<div class="hc-container">
    <div class="faq row border border-primary mb-3 p-3">
        <span><strong>How Does Corona Virus Spread</strong></span>
        <ul class=" border border-0 font-weight-normal font-14">
            <li class="">
                COVID-19 spreads easily from person to person, mainly by the following routes:
            </li>
            <ul class="m-4">
                <li>Between people who are in close contact with one another within 6 feet.</li>
                <li>Through respiratory droplets produced when an infected person coughs, sneezes, breathes, sings or
                    talks</li>
                <ul class=" p-2">
                    <li class="">
                        Respiratory droplets cause infection when they are inhaled or deposited on mucous membranes,
                        such as those that line the inside of the nose and mouth.
                    </li>
                </ul>
            </ul>
            <li class="">People who are infected but do not have symptoms can also spread the virus to others.</li>
        </ul>

    </div>
    <div class="faq row border border-primary mb-3 p-3">
        <span><strong>People who are infected but do not have symptoms can also spread the virus to
                others.</strong></span>
        <ul class="">
            <li class="">
                Wear masks in public settings when around people not living in your household and particularly where
                other social distancing measures are difficult to maintain, such as grocery stores, pharmacies, and gas
                stations. Masks may slow the spread of the virus and help people who may have the virus and do not know
                it from transmitting it to others.

            </li>
            <li class="">
                COVID-19 can be spread by people who do not have symptoms and do not know that they are infected. That’s
                why it’s important for everyone to practice social distancing (staying at least 6 feet away from other
                people) and wear masks in public settings. Masks provide an extra layer to help prevent the respiratory
                droplets from traveling in the air and onto other people.
            </li>
            <li class="">
                The masks recommended are not surgical masks or N-95 respirators. Those are critical supplies that must
                continue to be reserved for healthcare workers and other medical first responders, as recommended by
                current CDC guidance.

            </li>
        </ul>

    </div>

    <div class="faq row border border-primary mb-3 p-3">
        <span><strong> Is Sanitizer effective against Covid-19?</strong></span>
        <p>
            The best way to prevent the spread of infections and decrease the risk of getting sick is by washing your
            hands with plain soap and water, advises the CDC. Washing hands often with soap and water for at least 20
            seconds is essential, especially after going to the bathroom; before eating; and after coughing, sneezing,
            or blowing one’s nose. If soap and water are not available, CDC recommends consumers use an alcohol-based
            hand sanitizer that contains at least 60% alcohol

        </p>
    </div>
    <div class="faq row border border-primary mb-3 p-3">
        <span><strong> Does smoking habit impact Covid infection</strong></span>
        <p>
            Smoking cigarettes can leave you more vulnerable to respiratory illnesses, such as COVID-19. For example,
            smoking is known to cause lung disease and people with underlying lung problems may have increased risk for
            serious complications from COVID-19, a disease that primarily attacks the lungs. Smoking cigarettes can also
            cause inflammation and cell damage throughout the body, and can weaken your immune system, making it less
            able to fight off disease.
        </p>
    </div>
    <div class="faq row border border-primary mb-3 p-3">
        <span><strong>Is it safe to donate blood? </strong></span>
        <p>
            In healthcare settings across the United States, donated blood is a lifesaving, essential part of caring for
            patients. The need for donated blood is constant, and blood centers are open and in urgent need of
            donations. CDC encourages people who are well to continue to donate blood if they are able, even if they are
            practicing social distancing because of COVID-19. CDC is supporting blood centers by providing
            recommendations that will keep donors and staff safe. Examples of these recommendations include spacing
            donor chairs 6 feet apart, thoroughly adhering to environmental cleaning practices, and encouraging donors
            to make donation appointments ahead of time.
        </p>

    </div>

    <div class="faq row border border-primary mb-3 p-3">
        <span><strong>Is it okay to donate plasma when I recovered from Covid-19</strong></span>

        <p>
            COVID-19 convalescent plasma must only be collected from recovered individuals if they are eligible to
            donate blood. Individuals must have had a prior diagnosis of COVID-19 documented by a laboratory test and
            meet other laboratory criteria. Individuals must have fully recovered from COVID-19, with complete
            resolution of symptoms for at least 14 days before donation of convalescent plasma. You can ask your local
            blood center if there are options to donate convalescent plasma in your area.
        </p>
    </div>
    <div class="faq row border border-primary mb-3 p-3">
        <span><strong>How likely am I to catch COVID-19?</strong></span>

        <p>
            The risk depends on where you are - and more specifically, whether there is a COVID-19 outbreak unfolding
            there.
        </p>
        <p>
            For most people in most locations the risk of catching COVID-19 is still low. However, there are now places
            around the world (cities or areas) where the disease is spreading. For people living in, or visiting, these
            areas the risk of catching COVID-19 is higher. Governments and health authorities are taking vigorous action
            every time a new case of COVID-19 is identified. Be sure to comply with any local restrictions on travel,
            movement or large gatherings. Cooperating with disease control efforts will reduce your risk of catching or
            spreading COVID-19.
        </p>
        <p>
            COVID-19 outbreaks can be contained and transmission stopped, as has been shown in China and some other
            countries. Unfortunately, new outbreaks can emerge rapidly. It’s important to be aware of the situation
            where you are or intend to go. WHO publishes daily updates on the COVID-19 situation worldwide.
        </p>
    </div>
</div>