<div class="row border border-blue border-dotted m-3 p-2 text-justify">
    <div class="col-9">
        <span> <strong> What is Corona? </strong> </span>
    
    <p>
        Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
    </p>
    <p>
        Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness
    </p>
    <p>
        The best way to prevent and slow down transmission is to be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 
    </p>
    <p>
        The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
    </p>
    </div>
    <div class="col-3">
        <img class="img-fluid rounded"  src="./../../../assets/image/virus1.jpg" alt="">
    </div>
    
</div>
<div class="row m-3 p-3 border border-blue text-justify" >
    <div class="col-7">
        <img src="../../../assets/image/symptoms.jpg" alt="" class="img-fluid">
    </div>

    <div class="col-5">
        <span><strong>Symptoms: </strong></span>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of symtpoms"> {{ item }} </li>
        </ul>
    </div>
    
</div>

<div class="row m-3 p-3 border border-blue text-justify">
    <div class="col-6">
        <span><strong> Protect:</strong></span>
        <span>There is currently no vaccine to protect against COVID-19. The best way to protect yourself is to avoid being exposed to the virus that causes COVID-19. </span>
        <ul class="list-group">
            
            <li class="list-group-item">Clean your hands often, either with soap and water for 20 seconds or a hand sanitizer that contains at least 60% alcohol. </li>
            <li class="list-group-item">Avoid close contact with people who are sick. </li>
            <li class="list-group-item">Put distance between yourself and other people (at least 6 feet).</li>
            <li class="list-group-item">Cover your mouth and nose with a mask when around others.</li>
            <li class="list-group-item">Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</li>
            <li class="list-group-item">Clean and disinfect frequently touched objects and surfaces daily. </li>
            <li class="list-group-item">Wear Mask everytime </li>
        </ul>
    </div>
    <div class="col-6">
        <img src="../../../assets/image/prevent.jpg" alt="" class="img-fluid rounded">
    </div>
</div>

<div class="row border border-blue border-dotted m-3 p-2 text-justify">
    <div class="col-6">
        <img src="../../../assets/image/QuarantineIsolation.jpg" class="img-fluid rounded" alt="">
    </div>

    <div class="col-6">
        <p>
            <strong> Isolation : </strong>
            For most persons with COVID-19 illness, isolation and precautions can generally be discontinued 10 days after symptom onset1 and resolution of fever for at least 24 hours, without the use of fever-reducing medications, and with improvement of other symptoms.
        </p>
        <p>
            A limited number of persons with severe illness may produce replication-competent virus beyond 10 days that may warrant extending duration of isolation and precautions for up to 20 days after symptom onset; consider consultation with infection control experts.
        </p>
        <p>
            For persons who never develop symptoms, isolation and other precautions can be discontinued 10 days after the date of their first positive RT-PCR test for SARS-CoV-2 RNA.
        </p>
    </div>
    
</div>

<div class="row border border-blue border-dotted m-3 p-2 text-justify">
    <div class="col-9">
        <p>
            <strong> Healthy Diet</strong>
            As the coronavirus (COVID-19) pandemic has continued, many of us are finding it difficult to keep up with healthful eating and exercise routines ourselves, let alone to encourage these behaviors in our children. With families balancing multiple responsibilities, and children spending more time at home, it can be challenging to make sure that children are eating nutritious meals and choosing healthy snacks. Additionally, with the closure of parks and recreation facilities, cancelled sports and removal of formal physical education, children have significantly fewer opportunities for exercise. Stay-at-home orders mean that children are taking fewer steps and moving their bodies less.
        </p>
    </div>
    <div class="col-3">
        <img src="../../../assets/image/healthDiet.jpg" class="img-fluid rounded" alt="">
    </div>
</div>