.align-right {
  float: right;
}

.title .text {
  font-size: 16px;
}

.subtitle {
  font-size: 13px;
}

.answered {
  color: var(--green);
}

// .question {
//   font-size: large;
// }

// .actions {
//   font-size: 14px;
// }