<div class="row">
  <div class="col-4 border border-blue p-4">
    <span class="mt-5 mb-5">
      <strong> If you are not a register user </strong>

      <a routerLink="/signup">
        <img src="../../../assets/image/signup.png" alt="" class="img-fluid">
      </a>

    </span>
  </div>
  <div class="col-8 border border-primary p-3">
    <div class="text-blue border border-light">
      <div class="alert alert-danger" *ngIf="errorMessage" [innerText]="errorMessage"></div>
      <form class="mt-5 ml-4">
        <div class="form-group">
          <p class="text-center"><span><strong> Login Page </strong></span> </p>
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" #username>
          <small id="emailHelp" class="form-text text-muted">Your data is protected</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" #password>
        </div>
        <button type="button" class="btn btn-primary" (click)="onClickMe(username.value,password.value)">Submit</button>
      </form>

    </div>

  </div>
</div>