<div class="hc-container">
<!-- <div class="row no-gutters"> -->
<!-- <div class="col-9 border border-primary"> -->
<!-- </div> -->
<!-- </div> -->

<!-- https://www.raps.org/news-and-articles/news-articles/2020/3/covid-19-vaccine-tracker -->
<!-- https://biorender.com/covid-vaccine-tracker -->
<!-- https://www.nytimes.com/interactive/2020/science/coronavirus-vaccine-tracker.html -->

<div class="border border-primary p-3">
  <form #form="ngForm" (ngSubmit)="onSignUpSubmit(form.value) ">
    <h2>Registration</h2>
    <input type="hidden" class="form-control" ngModel name="id">
    <div class="form-group">
      <label for="firstname">First name</label>
      <input type="text" class="form-control" ngModel name="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input type="text" class="form-control" ngModel name="lastName" required>
    </div>
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" ngModel name="username" required [readonly]="userId">
    </div>
    <div *ngIf="userId">
      <input type="hidden" class="form-control" ngModel name="password" required>
    </div>
    <div class="form-group" *ngIf="!userId">
      <label for="password">Password</label>
      <input type="password" class="form-control" ngModel name="password" required>
    </div>
    <div class="form-group">
      <label for="email">Email Id</label>
      <input type="email" class="form-control" ngModel name="emailAddress" required>
    </div>
    <div class="form-group">
      <label for="gen1">Gender</label>
      <input type="radio" name="gender" ngModel value="male" class="ml-5" selected><label class="ml-2"
        for="male">Male</label>
      <input type="radio" name="gender" ngModel value="female" class="ml-5"><label class="ml-2">Female</label>
    </div>
    <div class="form-group" *ngIf="isAdmin">
      <label for="roles">Access</label>
      <select class="form-control" name="roles" multiple=true ngModel required>
        <option value="general">General</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sel1">Select State</label>
      <select class="form-control" name="state" ngModel required>
        <option *ngFor="let item of statelis">{{ item }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sel2">Select County or State</label>
      <select class="form-control" name="city" ngModel required>
        <option *ngFor="let item of statelis">{{ item }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>
</div>
</div>
